In [1]:
import os
import sys
sys.path.append('..')
from utils import utils
import numpy as np

import neo4j
from neo4j import GraphDatabase

from babelnet import BabelSynsetID, Language

2023-09-09 14:50:39,696 [babelnet.conf] INFO: Loaded configuration from ['/home/giovanni/unimore/2_graph_analytics/tesina/babeldist/remote/babelnet_conf.yml']
2023-09-09 14:50:39,711 [babelnet.api] INFO: BabelNet Remote Procedure Call API v1.1.0

In [2]:
URI = "bolt://localhost:7687"
AUTH = ("giovanni", "BabeldistGraph")

In [3]:
random_node_query = " MATCH (a:Synset) RETURN a.synsetID, rand() as r ORDER BY r LIMIT 1"

count_nodes_query = " MATCH (s:Synset) RETURN count(s)"
count_edges_query = " MATCH ()-[r:IS_A]->() RETURN count(r) "

shortestPath_query = """
MATCH (s1:Synset {synsetID: $synsetID_1})
MATCH (s2:Synset {synsetID: $synsetID_2})
MATCH p = shortestPath((s1)-[:IS_A*..12]-(s2))
RETURN p """

first_common_node_query = """
MATCH (s1:Synset {synsetID: $synsetID_1})
MATCH (s2:Synset {synsetID: $synsetID_2})
MATCH p = (s1)-[:IS_A*..5]->(common_node:Synset)<-[:IS_A*..5]-(s2) 
RETURN p, common_node """

max_length_taxonomy_query = """ 
MATCH p=(root:Synset {synsetID: $root_node})<-[:IS_A*1..12]-(child:Synset) 
WHERE NOT (child)<-[:IS_A]-()
RETURN p ORDER BY length(p) DESC LIMIT 1 """

In [4]:
root_node_id_str = 'bn:00062164n' # physical entity

In [7]:
def get_random_synset_id(driver):
    return driver.execute_query(random_node_query, result_transformer_=neo4j.Result.data)[0]['a.synsetID']

In [8]:
def get_shortest_path(driver, s1_id: str, s2_id: str):
    return driver.execute_query(
        shortestPath_query, 
        {'synsetID_1': s1_id,
         'synsetID_2': s2_id},
        database_='neo4j',
        result_transformer_=neo4j.Result.data)

In [9]:
def get_shortest_path_length(driver, s1_id: str, s2_id: str):
    return get_shortest_path(driver, s1_id, s2_id)[0]['p'].count('IS_A')

In [10]:
def shortest_path_synsets_lemmas(shortest_path):
    for item in shortest_path:
        if type(item) is dict and 'synsetID' in item.keys():
            try:
                print(BabelSynsetID(item['synsetID']).to_synset().main_sense().full_lemma)
            except Exception as e:
                print(e.args[0])

In [11]:
def get_lcs_depth(driver, s1_id: str, s2_id: str):
    result = driver.execute_query(
        first_common_node_query,
        {'synsetID_1': s1_id,
         'synsetID_2': s2_id},
        database_='neo4j',
        result_transformer_=neo4j.Result.data)
    
    # TO-DO handle multiple results
    result = result[0]
    path, common_node = [s['synsetID'] for s in result['p'] if type(s) is dict], result['common_node']
    
    from_s1 = path[0:path.index(common_node['synsetID']) + 1]
    from_s2 = path[path.index(common_node['synsetID']):]
    return max(len(from_s1)-1, len(from_s2)-1)

In [12]:
def get_distance_from_root_node(driver, s1_id: str):
    return driver.execute_query(
        shortestPath_query,
        {'synsetID_1': s1_id,
         'synsetID_2': root_node_id_str},
        database_='neo4j',
        result_transformer_=neo4j.Result.data)[0]['p'].count('IS_A')

In [13]:
def get_max_taxonomy_length(driver, root_node_id: str):
    return driver.execute_query(
        max_length_taxonomy_query, 
        {'root_node': root_node_id_str},
        result_transformer_=neo4j.Result.data)[0]['p'].count('IS_A')

In [14]:
def wup_similarity(driver, s1_id: str, s2_id: str):
    lcs_depth = get_lcs_depth(driver, s1_id, s2_id)
    dist_s1_root = get_distance_from_root_node(driver, s1_id)
    dist_s2_root = get_distance_from_root_node(driver, s2_id)
    return lcs_depth / (dist_s1_root + dist_s2_root)

In [15]:
def lch_similarity(driver, s1_id: str, s2_id: str):
    d = get_max_taxonomy_length(driver, root_node_id_str)
    sp_length = get_shortest_path_length(driver, s1_id, s2_id)
    return -np.log(sp_length / (2 * d))

In [16]:
def path_similarity(driver, s1_id: str, s2_id: str):
    return 1 / get_shortest_path_length(driver, s1_id, s2_id)

In [18]:
driver = GraphDatabase.driver(URI, auth=AUTH)

In [19]:
id1_str, id2_str = get_random_synset_id(driver), get_random_synset_id(driver) 
id1_str, id2_str

('bn:03724276n', 'bn:00041965n')

In [20]:
id1, id2 = BabelSynsetID(id1_str), BabelSynsetID(id2_str)
s1, s2 = id1.to_synset(), id2.to_synset()
s1, s2

(77436857__WIKI:EN:Country_changes_in_figure_skating, 39088034__grout#n#1)

In [21]:
s1.main_gloss(), s2.main_gloss()

(Country changing is a phenomenon in the figure skating world in which skaters change the country they represent in competition.,
 A thin mortar that can be poured and used to fill cracks in masonry or brickwork)

In [22]:
wup_similarity(driver, id1_str, id2_str)

0.5

In [23]:
lch_similarity(driver, id1_str, id2_str)

1.0986122886681098

In [24]:
shortest_path_synsets_lemmas(get_shortest_path(driver, id1_str, id2_str)[0]['p'])

Country_changes_in_figure_skating
phenomenon
process
physical_entity
matter
building_material
grout

In [52]:
# Try to make a great quantity of comparisons
fname = utils.get_current_logfile_number('dist_comparisons', extension='.csv')
max_comparisons = 300
names = 'id1;id2,ì;lemma1,ì;lemma2;wup;lch;path'
with open(fname, 'w') as f:
    f.write(names + '\n')
    for _ in range(max_comparisons):
        id1_str, id2_str = get_random_synset_id(driver), get_random_synset_id(driver) 
        id1, id2 = BabelSynsetID(id1_str), BabelSynsetID(id2_str)
        s1, s2 = id1.to_synset(), id2.to_synset()
        record = f"{id1_str};{id2_str};{s1.main_sense().full_lemma};{s2.main_sense().full_lemma};{wup_similarity(driver, id1_str, id2_str)};{lch_similarity(driver, id1_str, id2_str)};{path_similarity(driver, id1_str, id2_str)}"
        f.write(record + '\n')

In [53]:
driver.close()

In [54]:
import pandas as pd

In [57]:
df = pd.read_csv('../log/dist_comparisons(2).csv', sep=';', on_bad_lines='skip')
df.head(5)

,id1,id2,lemma1,lemma2,wup,lch,path
0,bn:15653856n,bn:21384886n,Cibao_Marl,Levally_Lough,0.500000,1.504077,0.250000
1,bn:08864746n,bn:06947256n,Kaustifikace,Laguna_Madre_Sal,0.500000,1.098612,0.166667
2,bn:00081683n,bn:00075601n,wreckage,Swiss,0.500000,1.098612,0.166667
3,bn:00010453n,bn:00076232n,bilocation,tax_haven,0.166667,2.197225,0.500000
4,bn:10842407n,bn:06160422n,Parque_Comandante_Jacques_Cousteau,Высшая_мера,0.571429,0.944462,0.142857

In [98]:
df_sorted = df.sort_values(by=['wup', 'lch', 'path'], ascending=[True, False, False], ignore_index=True)
df_sorted.loc[10:20]

,id1,id2,lemma1,lemma2,wup,lch,path
10,bn:15362748n,bn:16415624n,Falun_de_Pierrefitte,Hindsville_Limestone,0.166667,2.197225,0.5
11,bn:16721865n,bn:00013475n,Absolvent,brunet,0.166667,2.197225,0.5
12,bn:03284816n,bn:06947236n,Prime_meridian,Laguna_Sábalos,0.166667,2.197225,0.5
13,bn:01353217n,bn:22621880n,Kezilesu_Group,Whitehill_Formation,0.166667,2.197225,0.5
14,bn:16670890n,bn:22328757n,Skrinkle_Sandstones_Group,Bokkeveld_Group,0.166667,2.197225,0.5
15,bn:19523509n,bn:19507780n,Peters_Bay,Saut_Coumaroucage,0.166667,2.197225,0.5
16,bn:01927065n,bn:14973187n,Vanguard_Formation,Rancho_Nuevo_Formation,0.166667,2.197225,0.5
17,bn:16284524n,bn:15656619n,Eskridge_Shale,Ladegardsaen_Formation,0.166667,2.197225,0.5
18,bn:01299537n,bn:16347815n,Marnes_Irisees_Superieures_Formation,Temple_Butte_Formation,0.166667,2.197225,0.5
19,bn:16121832n,bn:14946764n,Chisholm_Formation,Husky_Formation,0.166667,2.197225,0.5
20,bn:15819884n,bn:16601771n,Río_Belgrano_Formation,Jackson_Formation,0.166667,2.197225,0.5

In [96]:
i = 51
s1, s2 = df_sorted.loc[i]['id1'], df_sorted.loc[i]['id2']
s1, s2 = BabelSynsetID(s1).to_synset(), BabelSynsetID(s2).to_synset()
s1.main_gloss(), s2.main_gloss()

(Someone who gratifies physical appetites (especially for food and drink) with more than the usual freedom,
 Nauruans are a nation and an ethnic group indigenous to the Pacific island country of Nauru.)

In [97]:
shortest_path_synsets_lemmas(get_shortest_path(driver, str(s1.id), str(s2.id))[0]['p'])

free-liver
free_agent
person
Nauruans

In [8]:
# It looks like most of nodes are some sort of geological formation, is that true?
number_of_nodes_with_ancestor = "MATCH (n:Synset)-[:IS_A*]->(ancestor:Synset {synsetID: $ancestorID}) RETURN count(n)"

with GraphDatabase.driver(URI, auth=AUTH) as driver:
    n = driver.execute_query(number_of_nodes_with_ancestor, 
                         {'ancestorID': 'bn:00035942n'},
                         result_transformer_=neo4j.Result.data)[0]['count(n)']
    tot_nodes = driver.execute_query(count_nodes_query,                          
                         result_transformer_=neo4j.Result.data)[0]['count(s)']
print(f'{n} nodes with ancestor bn:00035942n of {tot_nodes} nodes, {round(n*100/tot_nodes, 2)}%')

5864 nodes with ancestor bn:00035942n of 16367 nodes, 35.83%